<%- include("../components/header"); %>

<div>
  <section class="h100 produits">
    <div class="p-3">
      <h4>Produit:</h4>
      <h1 class="">
        <span class="letters ft-2"># Logiciel de comptabilité</span>
      </h1>

      <div class="text-center mt-5">
        <a href="#section2" class="bi bi-arrow-down btn btn-dark"></a>
      </div>
    </div>
  </section>

  <section class="d-flex justify-content-center" id="section2">
    <div style="max-width:800px" class="bg-white p-3">
      <p>détail su le produit</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum ex, modi doloremque est cum odio deleniti earum! Quibusdam facilis laudantium ad voluptas aliquam voluptatum ipsam vel fugiat asperiores alias!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum ex, modi doloremque est cum odio deleniti earum! Quibusdam facilis laudantium ad voluptas aliquam voluptatum ipsam vel fugiat asperiores alias!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum ex, modi doloremque est cum odio deleniti earum! Quibusdam facilis laudantium ad voluptas aliquam voluptatum ipsam vel fugiat asperiores alias!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum ex, modi doloremque est cum odio deleniti earum! Quibusdam facilis laudantium ad voluptas aliquam voluptatum ipsam vel fugiat asperiores alias!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum ex, modi doloremque est cum odio deleniti earum! Quibusdam facilis laudantium ad voluptas aliquam voluptatum ipsam vel fugiat asperiores alias!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum ex, modi doloremque est cum odio deleniti earum! Quibusdam facilis laudantium ad voluptas aliquam voluptatum ipsam vel fugiat asperiores alias!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum ex, modi doloremque est cum odio deleniti earum! Quibusdam facilis laudantium ad voluptas aliquam voluptatum ipsam vel fugiat asperiores alias!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum ex, modi doloremque est cum odio deleniti earum! Quibusdam facilis laudantium ad voluptas aliquam voluptatum ipsam vel fugiat asperiores alias!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum ex, modi doloremque est cum odio deleniti earum! Quibusdam facilis laudantium ad voluptas aliquam voluptatum ipsam vel fugiat asperiores alias!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum ex, modi doloremque est cum odio deleniti earum! Quibusdam facilis laudantium ad voluptas aliquam voluptatum ipsam vel fugiat asperiores alias!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum ex, modi doloremque est cum odio deleniti earum! Quibusdam facilis laudantium ad voluptas aliquam voluptatum ipsam vel fugiat asperiores alias!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum ex, modi doloremque est cum odio deleniti earum! Quibusdam facilis laudantium ad voluptas aliquam voluptatum ipsam vel fugiat asperiores alias!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum ex, modi doloremque est cum odio deleniti earum! Quibusdam facilis laudantium ad voluptas aliquam voluptatum ipsam vel fugiat asperiores alias!
      </p>

      <a href="/<%=lang%>/contact" class="btn btn-outline-primary">contactez-nous</a>
    </div>
  </section>
</div>

<%- include("../components/footer"); %>
